|Variable|Definition|Key|
|---|---|---|
|survival|Survival|0 = No, 1 = Yes|
|pclass|Ticket class|1 = 1st, 2 = 2nd, 3 = 3rd|
|gender|gender ||
|Age |Age in years| |
|sibsp |number of siblings / spouses aboard|	|
|parch |number of parents / children aboard| |
|ticket|Ticket number ||
|fare | fare| 	|
|cabin |Cabin number|	|
|embarked|Port of Embarkation|C = Cherbourg, Q = Queenstown, S = Southampton|
|boat | Lifeboat||
|body | Body Identification Number||
|home.dest| Home/destination||

- Read data and describe it
- Find columns with missingdata
- Print shape of dataset
- drop columns with more than 25% missing data
- drop columns having independent values(which do not affect the survival rate).


- check data types of all columns
- convert price to numeric
- find columns still having missing/na values and also count of missing data
- fill na with mean for fare and age column column.
- drop na values for embarked column.
- dump the dataframe to a csv file 'titanic_filtered.csv'.


- for surviced column replace 0 with D and 1 with A
- find the frequency of different values in survived column
- group by gender and survived and see the counts in each category
- find different pclass and no of people in each class

- find top 5 people with highest values of age. Count no of male and females in the top 5
- find max age male and female who survived
- get average age by gender
- get average age by people survived vs not-survived

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df= pd.read_csv('titanic_dataset.csv')

In [4]:
print(df.head())

   Unnamed: 0  pclass  survived  \
0           0       1         1
1           1       1         1
2           2       1         0
3           3       1         0
4           4       1         0

                                              name  gender      age  sibsp  \
0                    Allen, Miss. Elisabeth Walton  female  29.0000      0
1                   Allison, Master. Hudson Trevor    male   0.9167      1
2                     Allison, Miss. Helen Loraine  female   2.0000      1
3             Allison, Mr. Hudson Joshua Creighton    male  30.0000      1
4  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.0000      1

   parch  ticket      fare    cabin embarked boat   body  \
0      0   24160  $211.34        B5        S    2    NaN
1      2  113781  $151.55   C22 C26        S   11    NaN
2      2  113781  $151.55   C22 C26        S  NaN    NaN
3      2  113781  $151.55   C22 C26        S  NaN  135.0
4      2  113781  $151.55   C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON

Read data and describe it

In [5]:
print(df.head(5).describe(include='all'))

        Unnamed: 0  pclass  survived                           name  gender  \
count     5.000000     5.0  5.000000                              5       5
unique         NaN     NaN       NaN                              5       2
top            NaN     NaN       NaN  Allen, Miss. Elisabeth Walton  female
freq           NaN     NaN       NaN                              1       3
mean      2.000000     1.0  0.400000                            NaN     NaN
std       1.581139     0.0  0.547723                            NaN     NaN
min       0.000000     1.0  0.000000                            NaN     NaN
25%       1.000000     1.0  0.000000                            NaN     NaN
50%       2.000000     1.0  0.000000                            NaN     NaN
75%       3.000000     1.0  1.000000                            NaN     NaN
max       4.000000     1.0  1.000000                            NaN     NaN

              age     sibsp     parch  ticket      fare    cabin embarked  \
count    5.000000  5.000000  5.000000       5         5        5        5
unique        NaN       NaN       NaN       2         2        2        1
top           NaN       NaN       NaN  113781  $151.55   C22 C26        S
freq          NaN       NaN       NaN       4         4        4        5
mean    17.383340  0.800000  1.600000     NaN       NaN      NaN      NaN
std     14.662348  0.447214  0.894427     NaN       NaN      NaN      NaN
min      0.916700  0.000000  0.000000     NaN       NaN      NaN      NaN
25%      2.000000  1.000000  2.000000     NaN       NaN      NaN      NaN
50%     25.000000  1.000000  2.000000     NaN       NaN      NaN      NaN
75%     29.000000  1.000000  2.000000     NaN       NaN      NaN      NaN
max     30.000000  1.000000  2.000000     NaN       NaN      NaN      NaN

       boat   body                        home.dest
count     2    1.0                                5
unique    2    NaN                                2
top      11    NaN  Montreal, PQ / Chesterville, ON
freq      1    NaN                                4
mean    NaN  135.0                              NaN
std     NaN    NaN                              NaN
min     NaN  135.0                              NaN
25%     NaN  135.0                              NaN
50%     NaN  135.0                              NaN
75%     NaN  135.0                              NaN
max     NaN  135.0                              NaN

In [6]:
print(df.describe(include='all').head(3))

        Unnamed: 0  pclass  survived                  name gender     age  \
count       1309.0  1309.0    1309.0                  1309   1309  1046.0
unique         NaN     NaN       NaN                  1307      2     NaN
top            NaN     NaN       NaN  Connolly, Miss. Kate   male     NaN

         sibsp   parch    ticket    fare        cabin embarked boat   body  \
count   1309.0  1309.0      1309    1308          295     1307  486  121.0
unique     NaN     NaN       929     263          186        3   27    NaN
top        NaN     NaN  CA. 2343  $8.05   C23 C25 C27        S   13    NaN

           home.dest
count            745
unique           369
top     New York, NY

Find columns with missingdata

In [7]:
df.isna().any(axis=0)

print()

# df.isna().sum()

Print shape of dataset

In [8]:
df.shape

(1309, 15)

drop columns with more than 25% missing data

In [9]:
t=df.dropna(axis=1,thresh=1309*.75)
t.isna().sum()

Unnamed: 0      0
pclass          0
survived        0
name            0
gender          0
age           263
sibsp           0
parch           0
ticket          0
fare            1
embarked        2
dtype: int64

In [10]:
t=df.dropna(axis=1,thresh=df.shape[0]*.75)
t.isna().sum()

Unnamed: 0      0
pclass          0
survived        0
name            0
gender          0
age           263
sibsp           0
parch           0
ticket          0
fare            1
embarked        2
dtype: int64

drop columns having independent values(which do not affect the survival rate).

In [11]:
df.drop(columns=['Unnamed: 0','name'])

,pclass,survived,gender,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,female,29.0000,0,0,24160,$211.34,B5,S,2,NaN,"St Louis, MO"
1,1,1,male,0.9167,1,2,113781,$151.55,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,female,2.0000,1,2,113781,$151.55,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,male,30.0000,1,2,113781,$151.55,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,female,25.0000,1,2,113781,$151.55,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,female,14.5000,1,0,2665,$14.45,NaN,C,NaN,328.0,NaN
1305,3,0,female,NaN,1,0,2665,$14.45,NaN,C,NaN,NaN,NaN
1306,3,0,male,26.5000,0,0,2656,$7.23,NaN,C,NaN,304.0,NaN
1307,3,0,male,27.0000,0,0,2670,$7.23,NaN,C,NaN,NaN,NaN
1308,3,0,male,29.0000,0,0,315082,$7.88,NaN,S,NaN,NaN,NaN

check data types of all columns

In [12]:
df.dtypes

Unnamed: 0      int64
pclass          int64
survived        int64
name           object
gender         object
age           float64
sibsp           int64
parch           int64
ticket         object
fare           object
cabin          object
embarked       object
boat           object
body          float64
home.dest      object
dtype: object

In [13]:
# s=df.fare.str.replace("$","")

# df.fare=s.astype('float64')

print(df.fare.dtype)

object

find columns still having missing/na values and also count of missing data

In [14]:
print(df.isna().any(axis=0))

print()
print(df.isna().sum())

Unnamed: 0    False
pclass        False
survived      False
name          False
gender        False
age            True
sibsp         False
parch         False
ticket        False
fare           True
cabin          True
embarked       True
boat           True
body           True
home.dest      True
dtype: bool

Unnamed: 0       0
pclass           0
survived         0
name             0
gender           0
age            263
sibsp            0
parch            0
ticket           0
fare             1
cabin         1014
embarked         2
boat           823
body          1188
home.dest      564
dtype: int64

fill na with mean for fare and age column column.

In [15]:
df.fare=df.fare.fillna(value=df.fare.mean())

df.fare.isna().sum()

TypeError: can only concatenate str (not "int") to str

drop rows where na values for embarked column.

In [16]:
t=np.where(df.embarked.isna())
print(t)

(array([168, 284], dtype=int64),)

In [18]:
df.drop(index=t[0],inplace=True)

KeyError: '[168 284] not found in axis'

dump the dataframe to a csv file 'titanic_filtered.csv'.

In [ ]:
df.to_csv('titanic_filtered.csv')

for surviced column replace 0 with D and 1 with A

In [ ]:
df.survived.replace(to_replace=0,value='D')

df.survived.replace({0:'D',1:'A'})

find the frequency of different values in survived column

In [ ]:
df.survived.value_counts()

group by gender and survived and see the counts in each category

In [ ]:
grp=df.groupby(by=['gender','survived'])

grp.groups

In [ ]:
grp.count()

In [ ]:
df_f_A = grp.get_group( ('female',1) )
print(df_f_A.head())

In [ ]:
(df_f_A.embarked).value_counts()

find different pclass and no of people in each class

In [ ]:
df.pclass.value_counts()

In [ ]:
grp = df.groupby(by=['pclass'])
print(grp.sum())


# print(grp.count())

find top 5 people with highest values of age. Count no of male and females in the top 5

In [ ]:
df.sort_values(by=['age'],ascending=False).head()

find max age male and female who survived

In [ ]:
grp1=df.groupby(by=['survived'])
grp1.age.max()

get average age by gender

In [ ]:
grp2=df.groupby(by=['gender'])
grp2.age.mean()

get average age by people survived vs not-survived

In [ ]:
grp1=df.groupby(by=['survived'])
grp1.age.mean()