- Read sheet "Australia by Residence" from Australia.xlsx
- Ignore the first 20 rows.
- List all Column and Row indexes(Print their names)

Dataset Analysis
- Describe the dataset
- Use values and index attributes on both Row and Column Indexes
- Check Shape, Datatypes and other attributes and observe the datatype of each columns' data
  

Drop
- Delete all Data where the Type = "Emigrants" or Type is not "Immigrants" (Row Deletion)
- Find columns for which more than 50% data is missing and drop them (Column Deletion)
- Drop Unnessary Columns: Type, Coverage, Area, Reg, Dev (Column deletion)
    Your columns should now look like "OdName,AreaName,RegName,DevName,1980 ... 2008"

Rename
- Rename columns :OdName -> Country; RegName -> Region
- Convert Column Names with Int type to Strings to avoid index errors with string indexing "1980, 1981 etc." => " '1980', '1981' ... " (Use rename)
- Find Total number of immigrants for all years, and create a new column Total in data Frame

Head Tail Sort
- Sort Data by the new column Total in descending order and analyze the fist few rows. (get first few rows using head)
    - find something weird in the dataset ? Delete that row 'world'
- Analyze last few rows also in the sorted result (Don't sort inplace)

- Check if these have all unique values or not:
    - countries
    - continents (AreaName)
    - country continent pairs


- Find countries for which no of immigrants for all years is 0
- Find count of above countries
- Find countries for which no of immigrants is 0 for any year

Save Data
- Drop the row where AreaName is 'World'
- Save the dataset to a new file AustraliaFiltered.xlsx

###### Read sheet "Australia by Residence" from Australia.xlsx
###### Ignore the first 20 rows.
###### List all Column and Row indexes(Print their names)

In [1]:
import pandas as pd
import numpy as np

In [2]:
xls = pd.ExcelFile('Australia.xlsx')

df=pd.read_excel(xls,'Australia by Residence',skiprows=(20),inplace=True)

###### Describe the dataset
###### Use values and index attributes on both Row and Column Indexes
###### Check Shape, Datatypes and other attributes and observe the datatype of each columns' data

In [3]:
df.describe()

,AREA,REG,DEV,1980,1981,1982,1983,1984,1985,1986,...,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008
count,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,...,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000
mean,912.955357,1208.040179,902.642857,1228.348214,1331.651786,1283.660714,1134.285714,1115.580357,1187.455357,1290.803571,...,2122.946429,2337.857143,2555.982143,2611.294643,2738.125000,2514.241071,2545.357143,2709.866071,3023.348214,3376.116071
std,15.019682,1109.669573,9.165500,10145.734028,11349.461111,10643.064898,8965.372332,8805.489574,9545.180624,10588.914966,...,16727.854191,18384.758383,20198.020921,20573.219253,21745.929611,19834.528214,20203.441660,21786.641444,24542.748186,27950.462893
min,903.000000,905.000000,901.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,903.750000,914.000000,902.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
50%,908.000000,922.000000,902.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,30.000000,35.000000,40.000000,45.000000,50.000000,50.000000,50.000000,60.000000,70.000000,75.000000
75%,909.000000,926.000000,902.000000,130.000000,140.000000,160.000000,150.000000,162.500000,162.500000,182.500000,...,362.500000,372.500000,360.000000,390.000000,420.000000,400.000000,410.000000,455.000000,480.000000,512.500000
max,999.000000,5501.000000,999.000000,184290.000000,212690.000000,195200.000000,153570.000000,153530.000000,172550.000000,196690.000000,...,289870.000000,317560.000000,356410.000000,361990.000000,388450.000000,350990.000000,363470.000000,402210.000000,460650.000000,535970.000000

In [4]:
print(df.shape)

print(df.columns)
print(df.index)

(448, 43)
Index([    'Type', 'Coverage',   'OdName',     'AREA', 'AreaName',      'REG',
        'RegName',      'DEV',  'DevName',       1980,       1981,       1982,
             1983,       1984,       1985,       1986,       1987,       1988,
             1989,       1990,       1991,       1992,       1993,       1994,
             1995,       1996,       1997,       1998,       1999,       2000,
             2001,       2002,       2003,       2004,       2005,       2006,
             2007,       2008,       2009,       2010,       2011,       2012,
             2013],
      dtype='object')
RangeIndex(start=0, stop=448, step=1)

In [5]:
print(df.dtypes)

Type        object
Coverage    object
OdName      object
AREA         int64
AreaName    object
REG          int64
RegName     object
DEV          int64
DevName     object
1980         int64
1981         int64
1982         int64
1983         int64
1984         int64
1985         int64
1986         int64
1987         int64
1988         int64
1989         int64
1990         int64
1991         int64
1992         int64
1993         int64
1994         int64
1995         int64
1996         int64
1997         int64
1998         int64
1999         int64
2000         int64
2001         int64
2002         int64
2003         int64
2004         int64
2005         int64
2006         int64
2007         int64
2008         int64
2009        object
2010        object
2011        object
2012        object
2013        object
dtype: object

###### Delete all Data where the Type = "Emigrants" or Type is not "Immigrants" (Row Deletion)

In [6]:
t=np.where(df.Type=='Emigrants')
# print(t)
df.drop(index=t[0],inplace=True)

###### Find columns for which more than 50% data is missing and drop them (Column Deletion)

In [7]:
df.replace(to_replace='..',value=np.NaN,inplace=True)
df.dropna(axis=1,thresh=43*.5,inplace=True)
df

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008
224,Immigrants,Both,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,10,...,270,100,20,40,70,80,110,180,140,560
225,Immigrants,Both,Albania,908,Europe,925,Southern Europe,901,Developed regions,0,...,70,110,110,200,250,140,130,110,110,140
226,Immigrants,Both,Algeria,903,Africa,912,Northern Africa,902,Developing regions,10,...,30,20,30,60,20,20,50,30,30,60
227,Immigrants,Both,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,0,0,0,0,0,0,0,10
228,Immigrants,Both,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,10,0,10,10,0,10,10,0,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,Immigrants,Both,Yemen,935,Asia,922,Western Asia,902,Developing regions,10,...,20,20,60,40,150,40,20,10,40,40
444,Immigrants,Both,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,150,...,60,100,190,260,430,370,240,410,410,400
445,Immigrants,Both,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,630,...,510,910,1500,1670,2330,1790,1560,1880,2180,2270
446,Immigrants,Both,Unknown,999,World,999,World,999,World,4060,...,2850,5500,5090,2160,1760,1650,1800,2320,18310,4970
447,Immigrants,Both,Total,999,World,999,World,999,World,184290,...,289870,317560,356410,361990,388450,350990,363470,402210,460650,535970

###### Drop Unnessary Columns: Type, Coverage, Area, Reg, Dev (Column deletion) Your columns should now look like "OdName,AreaName,RegName,DevName,1980 ... 2008"

In [8]:
# df.drop(columns=['Type','Coverage','AREA','REG','DEV'],inplace=True)
df

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008
224,Immigrants,Both,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,10,...,270,100,20,40,70,80,110,180,140,560
225,Immigrants,Both,Albania,908,Europe,925,Southern Europe,901,Developed regions,0,...,70,110,110,200,250,140,130,110,110,140
226,Immigrants,Both,Algeria,903,Africa,912,Northern Africa,902,Developing regions,10,...,30,20,30,60,20,20,50,30,30,60
227,Immigrants,Both,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,0,0,0,0,0,0,0,10
228,Immigrants,Both,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,10,0,10,10,0,10,10,0,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,Immigrants,Both,Yemen,935,Asia,922,Western Asia,902,Developing regions,10,...,20,20,60,40,150,40,20,10,40,40
444,Immigrants,Both,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,150,...,60,100,190,260,430,370,240,410,410,400
445,Immigrants,Both,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,630,...,510,910,1500,1670,2330,1790,1560,1880,2180,2270
446,Immigrants,Both,Unknown,999,World,999,World,999,World,4060,...,2850,5500,5090,2160,1760,1650,1800,2320,18310,4970
447,Immigrants,Both,Total,999,World,999,World,999,World,184290,...,289870,317560,356410,361990,388450,350990,363470,402210,460650,535970

###### Rename columns :OdName -> Country; RegName -> Region

In [9]:
df.rename({'OdName':'Country','RegName':'Region'},axis=1,inplace=True)
df

,Type,Coverage,Country,AREA,AreaName,REG,Region,DEV,DevName,1980,...,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008
224,Immigrants,Both,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,10,...,270,100,20,40,70,80,110,180,140,560
225,Immigrants,Both,Albania,908,Europe,925,Southern Europe,901,Developed regions,0,...,70,110,110,200,250,140,130,110,110,140
226,Immigrants,Both,Algeria,903,Africa,912,Northern Africa,902,Developing regions,10,...,30,20,30,60,20,20,50,30,30,60
227,Immigrants,Both,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,0,0,0,0,0,0,0,10
228,Immigrants,Both,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,10,0,10,10,0,10,10,0,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,Immigrants,Both,Yemen,935,Asia,922,Western Asia,902,Developing regions,10,...,20,20,60,40,150,40,20,10,40,40
444,Immigrants,Both,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,150,...,60,100,190,260,430,370,240,410,410,400
445,Immigrants,Both,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,630,...,510,910,1500,1670,2330,1790,1560,1880,2180,2270
446,Immigrants,Both,Unknown,999,World,999,World,999,World,4060,...,2850,5500,5090,2160,1760,1650,1800,2320,18310,4970
447,Immigrants,Both,Total,999,World,999,World,999,World,184290,...,289870,317560,356410,361990,388450,350990,363470,402210,460650,535970

###### Convert Column Names with Int type to Strings to avoid index errors with string indexing "1980, 1981 etc." => " '1980', '1981' ... " (Use rename)

In [10]:
t=df.columns
dict={}
for i in t:
    dict.update({i:str(i)})
# print(dict)
df.rename(dict,inplace=True,axis=1)
df.columns
df.loc[:,'1980']

224        10
225         0
226        10
227         0
228         0
        ...
443        10
444       150
445       630
446      4060
447    184290
Name: 1980, Length: 224, dtype: int64


###### Find Total number of immigrants for all years, and create a new column Total in data Frame

In [81]:
df['Total']=df.iloc[:,9:].sum(axis=1)
df

,Type,Coverage,Country,AREA,AreaName,REG,Region,DEV,DevName,1980,...,2000,2001,2002,2003,2004,2005,2006,2007,2008,Total
225,Immigrants,Both,Albania,908,Europe,925,Southern Europe,901,Developed regions,0,...,110,110,200,250,140,130,110,110,140,1910.0
226,Immigrants,Both,Algeria,903,Africa,912,Northern Africa,902,Developing regions,10,...,20,30,60,20,20,50,30,30,60,730.0
227,Immigrants,Both,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,0,0,0,0,0,0,10,30.0
228,Immigrants,Both,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,10,10,0,10,10,0,10,10,100.0
229,Immigrants,Both,Angola,903,Africa,911,Middle Africa,902,Developing regions,0,...,10,10,10,20,10,10,20,30,20,170.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442,Immigrants,Both,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,0,0,0,0,0,0,0,0.0
443,Immigrants,Both,Yemen,935,Asia,922,Western Asia,902,Developing regions,10,...,20,60,40,150,40,20,10,40,40,570.0
444,Immigrants,Both,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,150,...,100,190,260,430,370,240,410,410,400,5590.0
445,Immigrants,Both,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,630,...,910,1500,1670,2330,1790,1560,1880,2180,2270,27350.0
446,Immigrants,Both,Unknown,999,World,999,World,999,World,4060,...,5500,5090,2160,1760,1650,1800,2320,18310,4970,141660.0

###### Sort Data by the new column Total in descending order and analyze the fist few rows. (get first few rows using head)

In [83]:
df.sort_values(by=['Total'],ascending=False).head()

,Type,Coverage,Country,AREA,AreaName,REG,Region,DEV,DevName,1980,...,2000,2001,2002,2003,2004,2005,2006,2007,2008,Total
432,Immigrants,Both,United Kingdom of Great Britain and Northern I...,908,Europe,924,Northern Europe,901,Developed regions,43540,...,51000,52940,57330,70150,53140,53300,57250,61490,65160,1333340.0
367,Immigrants,Both,New Zealand,909,Oceania,927,Australia and New Zealand,901,Developed regions,34370,...,47230,45570,29500,28000,40710,44680,45550,39120,46960,898760.0
434,Immigrants,Both,United States of America,905,Northern America,905,Northern America,901,Developed regions,10470,...,18030,19230,18950,18980,18540,18490,17320,19260,20860,450370.0
266,Immigrants,Both,"China, Hong Kong Special Administrative Region",935,Asia,906,Eastern Asia,902,Developing regions,4170,...,16410,18620,20200,19220,9740,10070,10270,9680,11030,388640.0
265,Immigrants,Both,China,935,Asia,906,Eastern Asia,902,Developing regions,860,...,16700,22220,29000,33410,29860,28820,32190,42920,54300,387180.0

###### find something weird in the dataset ? Delete that row 'world'

In [84]:
df.drop([447],axis=0,inplace=True)# Label has been deleted hence giving not found error.

KeyError: '[447] not found in axis'

In [85]:
df.tail()

,Type,Coverage,Country,AREA,AreaName,REG,Region,DEV,DevName,1980,...,2000,2001,2002,2003,2004,2005,2006,2007,2008,Total
442,Immigrants,Both,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,0,0,0,0,0,0,0,0.0
443,Immigrants,Both,Yemen,935,Asia,922,Western Asia,902,Developing regions,10,...,20,60,40,150,40,20,10,40,40,570.0
444,Immigrants,Both,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,150,...,100,190,260,430,370,240,410,410,400,5590.0
445,Immigrants,Both,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,630,...,910,1500,1670,2330,1790,1560,1880,2180,2270,27350.0
446,Immigrants,Both,Unknown,999,World,999,World,999,World,4060,...,5500,5090,2160,1760,1650,1800,2320,18310,4970,141660.0

###### Analyze last few rows also in the sorted result (Don't sort inplace)

In [86]:
df.sort_values(by=['Total'],ascending=False).head().describe()

,AREA,REG,DEV,1980,1981,1982,1983,1984,1985,1986,...,2000,2001,2002,2003,2004,2005,2006,2007,2008,Total
count,5.000000,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000e+00
mean,918.400000,913.600000,901.400000,18682.000000,21764.00000,18736.000000,12490.000000,12512.000000,15238.000000,17754.000000,...,29874.000000,31716.000000,30996.000000,33952.000000,30398.000000,31072.000000,32516.000000,34494.000000,39662.000000,6.916580e+05
std,15.224979,10.922454,0.547723,19102.959718,23655.47146,20457.791425,11849.666662,9118.090261,11643.426042,15027.936651,...,17625.638428,16278.597298,15502.913597,21137.690744,17256.813727,17914.546324,19413.687955,20426.641427,22863.652814,4.175505e+05
min,905.000000,905.000000,901.000000,860.000000,870.00000,560.000000,580.000000,1220.000000,2190.000000,1820.000000,...,16410.000000,18620.000000,18950.000000,18980.000000,9740.000000,10070.000000,10270.000000,9680.000000,11030.000000,3.871800e+05
25%,908.000000,906.000000,901.000000,4170.000000,4380.00000,4980.000000,5480.000000,7450.000000,6820.000000,7200.000000,...,16700.000000,19230.000000,20200.000000,19220.000000,18540.000000,18490.000000,17320.000000,19260.000000,20860.000000,3.886400e+05
50%,909.000000,906.000000,901.000000,10470.000000,12080.00000,12490.000000,11110.000000,11840.000000,12480.000000,12600.000000,...,18030.000000,22220.000000,29000.000000,28000.000000,29860.000000,28820.000000,32190.000000,39120.000000,46960.000000,4.503700e+05
75%,935.000000,924.000000,902.000000,34370.000000,34440.00000,23920.000000,13620.000000,16900.000000,27070.000000,31240.000000,...,47230.000000,45570.000000,29500.000000,33410.000000,40710.000000,44680.000000,45550.000000,42920.000000,54300.000000,8.987600e+05
max,935.000000,927.000000,902.000000,43540.000000,57050.00000,51730.000000,31660.000000,25150.000000,27630.000000,35910.000000,...,51000.000000,52940.000000,57330.000000,70150.000000,53140.000000,53300.000000,57250.000000,61490.000000,65160.000000,1.333340e+06

###### Check if these have all unique values or not:

###### countries
###### continents (AreaName)
###### country continent pairs

In [61]:
print('All Values are Unique' if df.Country.nunique()==df.shape[0] else 'No')

All Values are Unique

In [63]:
print('All Values are Unique' if df.AreaName.nunique()==df.shape[0] else 'Values are not Unique')

Values are not Unique

###### Find countries for which no of immigrants for all years is 0

In [93]:
p=np.where(df.Total==0)
(df.iloc[p])

,Type,Coverage,Country,AREA,AreaName,REG,Region,DEV,DevName,1980,...,2000,2001,2002,2003,2004,2005,2006,2007,2008,Total
230,Immigrants,Both,Anguilla,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,0,...,0,0,0,0,0,0,0,0,0,0.0
262,Immigrants,Both,Central African Republic,903,Africa,911,Middle Africa,902,Developing regions,0,...,0,0,0,0,0,0,0,0,0,0.0
270,Immigrants,Both,Comoros,903,Africa,910,Eastern Africa,902,Developing regions,0,...,0,0,0,0,0,0,0,0,0,0.0
306,Immigrants,Both,Greenland,905,Northern America,905,Northern America,901,Developed regions,0,...,0,0,0,0,0,0,0,0,0,0.0
308,Immigrants,Both,Guadeloupe,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,0,...,0,0,0,0,0,0,0,0,0,0.0
315,Immigrants,Both,Holy See,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,0,0,0,0,0,0,0,0.0
353,Immigrants,Both,Mayotte,903,Africa,910,Eastern Africa,902,Developing regions,0,...,0,0,0,0,0,0,0,0,0,0.0
392,Immigrants,Both,Saint Helena,903,Africa,914,Western Africa,902,Developing regions,0,...,0,0,0,0,0,0,0,0,0,0.0
393,Immigrants,Both,Saint Kitts and Nevis,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,0,...,0,0,0,0,0,0,0,0,0,0.0
395,Immigrants,Both,Saint Vincent and the Grenadines,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,0,...,0,0,0,0,0,0,0,0,0,0.0
427,Immigrants,Both,Turks and Caicos Islands,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,0,...,0,0,0,0,0,0,0,0,0,0.0
435,Immigrants,Both,United States Virgin Islands,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,0,...,0,0,0,0,0,0,0,0,0,0.0
442,Immigrants,Both,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,0,0,0,0,0,0,0,0.0

###### Find count of above countries

In [90]:
print(f'Number of countries with 0 immigrants are {len(p[0])}' )

13

###### Find countries for which no of immigrants is 0 for any year

In [114]:
u=df.iloc[:,9:].any(axis=1)
df[u]

,Type,Coverage,Country,AREA,AreaName,REG,Region,DEV,DevName,1980,...,2000,2001,2002,2003,2004,2005,2006,2007,2008,Total
225,Immigrants,Both,Albania,908,Europe,925,Southern Europe,901,Developed regions,0,...,110,110,200,250,140,130,110,110,140,1910.0
226,Immigrants,Both,Algeria,903,Africa,912,Northern Africa,902,Developing regions,10,...,20,30,60,20,20,50,30,30,60,730.0
227,Immigrants,Both,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,0,0,0,0,0,0,10,30.0
228,Immigrants,Both,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,10,10,0,10,10,0,10,10,100.0
229,Immigrants,Both,Angola,903,Africa,911,Middle Africa,902,Developing regions,0,...,10,10,10,20,10,10,20,30,20,170.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441,Immigrants,Both,Wallis and Futuna Islands,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,0,0,10,0,0,0,0,10.0
443,Immigrants,Both,Yemen,935,Asia,922,Western Asia,902,Developing regions,10,...,20,60,40,150,40,20,10,40,40,570.0
444,Immigrants,Both,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,150,...,100,190,260,430,370,240,410,410,400,5590.0
445,Immigrants,Both,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,630,...,910,1500,1670,2330,1790,1560,1880,2180,2270,27350.0
446,Immigrants,Both,Unknown,999,World,999,World,999,World,4060,...,5500,5090,2160,1760,1650,1800,2320,18310,4970,141660.0

###### Drop the row where AreaName is 'World'

In [131]:
# g=np.where(df.AreaName=='World')
# print(df.shape)
# print(g)
# df.drop(index=g[0]) I am constant error when i am trying to drop rows through index but able to execute through labels 
df.drop([446])

,Type,Coverage,Country,AREA,AreaName,REG,Region,DEV,DevName,1980,...,2000,2001,2002,2003,2004,2005,2006,2007,2008,Total
225,Immigrants,Both,Albania,908,Europe,925,Southern Europe,901,Developed regions,0,...,110,110,200,250,140,130,110,110,140,1910.0
226,Immigrants,Both,Algeria,903,Africa,912,Northern Africa,902,Developing regions,10,...,20,30,60,20,20,50,30,30,60,730.0
227,Immigrants,Both,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,0,0,0,0,0,0,10,30.0
228,Immigrants,Both,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,10,10,0,10,10,0,10,10,100.0
229,Immigrants,Both,Angola,903,Africa,911,Middle Africa,902,Developing regions,0,...,10,10,10,20,10,10,20,30,20,170.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441,Immigrants,Both,Wallis and Futuna Islands,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,0,0,10,0,0,0,0,10.0
442,Immigrants,Both,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,0,0,0,0,0,0,0,0.0
443,Immigrants,Both,Yemen,935,Asia,922,Western Asia,902,Developing regions,10,...,20,60,40,150,40,20,10,40,40,570.0
444,Immigrants,Both,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,150,...,100,190,260,430,370,240,410,410,400,5590.0
445,Immigrants,Both,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,630,...,910,1500,1670,2330,1790,1560,1880,2180,2270,27350.0

###### Save the dataset to a new file AustraliaFiltered.xlsx

In [132]:
df.to_excel('AutraliaFiltered.xlsx')

FileCreateError: [Errno 13] Permission denied: 'AutraliaFiltered.xlsx'

,Type,Coverage,Country,AREA,AreaName,REG,Region,DEV,DevName,1980,...,2000,2001,2002,2003,2004,2005,2006,2007,2008,Total
225,Immigrants,Both,Albania,908,Europe,925,Southern Europe,901,Developed regions,0,...,110,110,200,250,140,130,110,110,140,1910.0
226,Immigrants,Both,Algeria,903,Africa,912,Northern Africa,902,Developing regions,10,...,20,30,60,20,20,50,30,30,60,730.0
227,Immigrants,Both,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,0,0,0,0,0,0,10,30.0
228,Immigrants,Both,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,10,10,0,10,10,0,10,10,100.0
229,Immigrants,Both,Angola,903,Africa,911,Middle Africa,902,Developing regions,0,...,10,10,10,20,10,10,20,30,20,170.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441,Immigrants,Both,Wallis and Futuna Islands,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,0,0,10,0,0,0,0,10.0
442,Immigrants,Both,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,0,0,0,0,0,0,0,0.0
443,Immigrants,Both,Yemen,935,Asia,922,Western Asia,902,Developing regions,10,...,20,60,40,150,40,20,10,40,40,570.0
444,Immigrants,Both,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,150,...,100,190,260,430,370,240,410,410,400,5590.0
445,Immigrants,Both,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,630,...,910,1500,1670,2330,1790,1560,1880,2180,2270,27350.0